html {
  font-size: 22px;
  
}

body {
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: 1.5;
}

header img {
  max-width: 600px;
  width: 100%;
}

footer {
  font-size: .75rem;
}
